body {
  background-image: url("../img/background.jpg");
  background-size: cover;
}

.center-div
{
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.mela{
  width: 50%;
  height: 50%;
}

.responsive {
  width: auto;
  max-width: 50%;
  height: auto;
  max-height: 50%;
}

#score {
  margin-right: 5%;
  margin-top: 0;
  margin-bottom: 0;
}

#par{
  margin: 0;
}

.row{
  position: absolute;
  top: 80%;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: right;
  font-size: 300%;
  color: #caffac;
  margin: 0;
}


.link{
  color: #caffac;
}

a:visited {
  text-decoration: none;
  color: red;
}

a:hover {
  text-decoration: none;
  color: blue;
}

a:focus {
  text-decoration: none;
  color: yellow;
}

a {
  color: red
}

/* Globally */

/* Each state */

a:visited {
  text-decoration: none;
  color: red;
}

a:hover {
  text-decoration: none;
  color: blue;
}

a:focus {
  text-decoration: none;
  color: yellow;
}

a:hover,
a:active {
  text-decoration: none;
  color: black
}
